/*
Colors used:
Primary Color (Grey, White, Black): #D4EE5E, #FFFFFF, #000000;
Secondary Color (Green and Red): #8BC34A, #F4FAD2, #FF4242;
*/

body {
  background-color: #F0F2EB;
  font-family: 'Manrope', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.4; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}

h1, h2, h3, h4 {
  line-height: 1.0;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #8BC34A;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #994c30;
}

.button.view:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.view:visited {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.view {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.contact:visited {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}


h1#Name {
    /* add styling in future iteration */
}

h2#Pastwork {
    /* add styling in future iteration */
}

h2#Contact {
    /* add styling in future iteration */
}

h2#Me {
    /* add styling in future iteration */
}

h3#Skills {
    /* add styling in future iteration */
}
